@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Index","Greeting",FormMethod.Post))
{
    <form>
        Please, enter your name: 
        <input type="text" id="name" name="name">
    </form>
}